extends layout

block content
	section.container
		include header
		div.container.center
			div.input-group.mb-3
				div.input-group-prepend
					span#basic-addon1.input-group-text.bg-primary.text-white.border-primary Numero de acuerdos a agregar
				include add_cant
			-for (var i = 0; i <= nums; ++i){
				form.form(method="POST" action="/save")
					//- form.form(method="POST" action="/agregar:save#{i}")
					fieldset
						div.input-group.mb-3
							div.input-group-prepend
								span#basic-addon1.input-group-text(for="acuerdo_id") Id:
							input.form-control(id="acuerdo_id#{i}" type="text", name="acuerdo_id",value='#{data[i]}', disabled)
							input.item.i-b.v-top.ph9.p_25(id="acuerdo_id#{i}", type="hidden", value='#{data[i]}' name="acuerdo_id")
						div.input-group.mb-3
							div.input-group-prepend
								span#basic-addon1.input-group-text(for="nro_acuerdo") Numero de acuerdo:
							input.form-control(id="nro_acuerdo#{i}" type="text", name="nro_acuerdo", placeholder="Numero de acuerdo" required)
						div.input-group.mb-3
							div.input-group-prepend
								span#basic-addon1.input-group-text(for="fecha") Fecha:
							input.form-control(id="fecha#{i}" type="date", name="fecha", placeholder="dia")
						div.input-group.mb-3
							.input-group-prepend
								span.input-group-text(for="detalle") Detalle:
							//- input.item.i-b.v-top.ph9.p_25#detalle(type="textarea", name="detalle", required)
							textarea.txtadd.form-control.bg-transparent(id="detalle#{i}", name="detalle", maxlength="255", aria-label="Detalle:" required)
						div.text-center.mb-3
							span#spansucces(hidden)= dataenv
							input.btn.btn-success.btn-lg.add.mr-md-3( hidden class="submit#{i}" type="submit", value="Agregar#{i}")
						div.text-center.mb-3
							input.btn.btn-success.btn-lg.add.mr-md-3(type="submit", value="Agregar")
							//- input.btn.btn-success.btn-lg.add.mr-md-3(type="button", value="Agregar" onclick="onsub(#{nums})")
							a.btn.btn-danger.btn-lg(id="a#{nums}" href="/") cancelar
							//- a.btn.btn-danger.btn-lg( href="/") cancelar
			-}
	include footer		