extends layout

block content
	section.c-95
		include header
		article.item
			-if(data.length)
				table.table.table-striped
					tr.row
						th.col-1(scope="col") Id
						th.col-2(scope="col") N° de acuerdo
						th.col-2(scope="col") Fecha
						th.col-5(scope="col") Detalle
						th.col-2(scope="col", colspan="2")
							div.input-group
								include add_cant
					
					-var cont=1
					-each ac in data
						tr.row
							th.col-1.text-truncate(scope="row") #{ac.acuerdo_id}
							td.col-2 #{ac.nro_acuerdo}
							td.col-2 #{ac.fecha}
							td.col-5
								article.w-100.h-100.textarea(disabled).bg-transparent
									p #{ac.detalle}
							td.col-2
								form(method="GET" action="/editar/#{ac.acuerdo_id}")
									input.button.btn.btn-info.btn-block(type="submit", value="Editar",  title="Editar el acuerdo")
								form(method="POST" action="/eliminar/#{ac.acuerdo_id}")
									//- div.D(style="display: #{disables}")
									input.disable.button.btn.btn-danger.btn-block(disabled, type="button", onclick="eliminar(this)", value="Eliminar", title="Eliminar el acuerdo")
									input(type="hidden", name="_method", value="DELETE")
						-console.log(cont)
						-cont++
						
				script.
					function eliminar(input)
					{
						var deleteOk = confirm('¿Estás seguro de eliminar este acuerdo?')
						return (deleteOk) ? input.parentNode.submit() : false
					}
			-else
				table.table.table-striped
						tr
							th(scope="col") Id
							th(scope="col") N° de acuerdo
							th(scope="col") Fecha
							th(scope="col") Detalle
							th(scope="col", colspan="2")
								form(method="GET" action="/agregar")
									div.input-group
										select#inputGroupSelect01.custom-select(name="nums", title="Escoger el numero de acuerdos a agregar a la vez")
											option(value="") Escoger...
											option(value="1") 1
											option(value="2") 2
											option(value="3") 3
											option(value="4") 4
											option(value="5") 5
										div.input-group-append
											input.add.btn.btn-outline.btn-success(type="submit", value="Agregar", title="Agregar acuerdos")
							tr
								th.no_selection.text-black-50(scope="row") Sin informacion
								td.no_selection.text-black-50 Sin informacion
								td.no_selection.text-black-50 Sin informacion
								td.no_selection.text-black-50 Sin informacion 
								td.no_selection
								
	include footer